<%- include('./components/head') %>

<body>


    <!-- component -->
  
  
    <header>
      <%- include('./components/navbar') %>
    </header>
  
 
  <footer>
      <%- include('./components/footer') %>
  </footer>
  
  </body>
  
  </html>