<%- include('./components/head') %>

<body>


  <!-- component -->


  <header>
    <%- include('./components/navbar') %>
  </header>

  <h1>Blog Posts</h1>
    <ul>
        <% data.forEach((post) => { %>
            <li><%= post.title %></li>
        <% }); %>
    </ul>


<footer>
    <%- include('./components/footer') %>
</footer>

</body>

</html>